{% extends "base.html" %} {% block title %}Додати тварину{% endblock %} {% block
content %}
<h2>Додати тварину</h2>

<form method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }} {{ form.name.label }}<br />
  {{ form.name() }}<br /><br />

  {{ form.species.label }}<br />
  {{ form.species() }}<br /><br />

  {{ form.age.label }}<br />
  {{ form.age() }}<br /><br />

  {{ form.gender.label }}<br />
  {{ form.gender() }}<br /><br />

  {{ form.size.label }}<br />
  {{ form.size() }}<br /><br />

  {{ form.status.label }}<br />
  {{ form.status() }}<br /><br />

  {{ form.photo.label }}<br />
  {{ form.photo() }}<br /><br />

  {{ form.description.label }}<br />
  {{ form.description(rows=4, cols=40) }}<br /><br />

  {{ form.submit() }}
</form>
{% endblock %}
