{% extends "base.html" %} {% block title %}Додати слот інтерв'ю{% endblock %} {%
block content %}
<h2>➕ Додати слот інтерв’ю</h2>

<form method="post">
  {{ form.hidden_tag() }}

  <label>{{ form.date.label }}</label><br />
  {{ form.date(type="date") }}<br /><br />

  <label>{{ form.time.label }}</label><br />
  {{ form.time(type="time") }}<br /><br />

  {{ form.submit(class="btn") }}
</form>

<p>
  <a href="{{ url_for('animals.view_adoption_requests') }}"
    >⬅ Назад до заявок</a
  >
</p>
{% endblock %}
