{% extends 'base.html' %} {% block title %}Правила адопції{% endblock %} {%
block content %}
<h1>ПРАВИЛА АДОПЦІЇ</h1>

<p>
  Хочеш подарувати дім чотирилапому другу — мерщій знайомитися з основними
  правилами!
</p>

<section>
  <h2>📞 Контакти</h2>
  <ul>
    <li>
      Email:
      <a href="mailto:dogcat.sirius@gmail.com">dogcat.sirius@gmail.com</a>
    </li>
    <li>Телефон: <a href="tel:+380931934069">+38 093 193 40 69</a></li>
    <li>Менеджер Гарік: <a href="tel:+380969355915">+38 096 935 59 15</a></li>
  </ul>
</section>

<section>
  <h2>📋 Якщо ти:</h2>
  <ul>
    <li>Розумієш важливість стерилізації та вакцинації</li>
    <li>Розділяєш гуманний підхід до виховання тварин</li>
    <li>
      Готовий взяти відповідальність за життя та здоров’я хвостатого друга
    </li>
    <li>Не уявляєш своє життя без пухнастих обіймів</li>
  </ul>
</section>

<section>
  <h2>❓ Що потрібно знати</h2>
  <ul>
    <li>
      Тварини не віддаються без попереднього інтерв’ю та узгодження часу з
      менеджером
    </li>
    <li>Інтерв’ю — обов'язковий етап адопції, менеджер може відмовити</li>
    <li>Інтерв’ю займає до 30 хвилин, менеджер працює з 10:00 до 19:00</li>
    <li>Можна обрати тварину на сайті або порадитися з менеджером</li>
    <li>
      Договір про передачу тварини — обов’язковий, можна отримати для
      попереднього ознайомлення
    </li>
  </ul>
</section>

<section>
  <h2>📌 Коротко про важливе</h2>
  <ul>
    <li>Усі тварини від 6 місяців — стерилізовані</li>
    <li>Малюки віддаються тільки з умовою стерилізації після 6 міс.</li>
    <li>Не віддаємо тварин третім особам, на подарунки або охорону</li>
    <li>
      Передача тварини — тільки особисто в притулку (винятки обговорюються)
    </li>
    <li>Для котів — обов’язкова переноска, для собак — повідок і нашийник</li>
  </ul>
</section>

<div>
  <a href="{{ url_for('animals.search_animals') }}" class="btn"
    >🐾 Усиновити тваринку</a
  >
</div>
{% endblock %}
