<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Притулок тварин{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Притулок тварин</h1>
      <nav>
        <a href="{{ url_for('index') }}">Головна</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('animals.search_animals') }}">Пошук</a>
        {% if current_user.role == 'admin' %}
        <a href="{{ url_for('animals.add_animal') }}">Додати тварину</a>
        <a href="{{ url_for('help.view_feedbacks') }}">📬 Повідомлення</a>
        {% endif %}
        <a href="{{ url_for('auth.logout') }}">Вийти</a>
        {% else %}
        <a href="{{ url_for('auth.login') }}">Увійти</a>
        <a href="{{ url_for('auth.register') }}">Реєстрація</a>

        {% endif %}
        <a href="{{ url_for('help.help_page') }}">Як допомогти</a>
        <a href="{{ url_for('reports.reports_page') }}">Звіти</a>
      </nav>
    </header>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flash">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
