{% extends 'base.html' %} {% block title %}Фінансові звіти{% endblock %} {%
block content %}
<h2>Фінансові звіти</h2>
<p>
  Ми хочемо бути прозорими та чесними з нашими патронами. Щомісяця публікуємо
  фінансові звіти та інформацію про тварин.
</p>

<!-- Вкладки по роках -->
<div class="year-tabs">
  {% for y in years %}
  <a href="#year-{{ y }}" class="year-tab">{{ y }}</a>
  {% endfor %}
</div>

<!-- Контент по роках -->
{% for y in years %}
<div id="year-{{ y }}" class="year-block">
  <h3>Звіти за {{ y }} рік</h3>

  {% set quarterly = [[], [], [], []] %} {% for report in reports if report.year
  == y %} {% set q = ((report.month_number - 1) // 3) %} {% set _ =
  quarterly[q].append(report) %} {% endfor %} {% for i in range(4) %}
  <div class="quarter-block">
    <h4>{{ ['Перший', 'Другий', 'Третій', 'Четвертий'][i] }} квартал</h4>

    {% for r in quarterly[i] %}
    <div class="monthly-report">
      <h5>{{ r.month }}</h5>
      <a href="{{ r.pdf_url }}" download>📄 Переглянути PDF</a>
      <ul>
        <li>Надходження: {{ r.income }} грн</li>
        <li>Витрати: {{ r.expenses }} грн</li>
        <li>– Функціонування притулку: {{ r.operating_costs }} грн</li>
        <li>– Ветпослуги: {{ r.vet_services }} грн</li>
        <li>– Вивіз сміття: {{ r.garbage }} грн</li>
        <li>– Заробітна плата: {{ r.salary }} грн</li>
        <li>– Сухий корм: {{ r.dry_food }} грн</li>
        <li>– Котячий наповнювач: {{ r.cat_litter }} грн</li>
        <li>– Крупи та екструдований корм: {{ r.grains }} грн</li>
        <li>– Будматеріали: {{ r.construction }} грн</li>
        <li>🐾 Усиновлено: {{ r.adopted_animals }} тварин</li>
        <li>➕ Нові тварини: {{ r.new_animals }}</li>
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endfor %} {% endblock %}
