{% extends 'base.html' %} {% block title %}Пошук тварин{% endblock %} {% block
content %}
<h2>Пошук тварин</h2>

<a href="{{ url_for('animals.favorites') }}" class="fav-link">❤️ Улюбленці</a>

<form method="get">
  <label>Категорія:</label>
  <select name="species">
    <option value="any">Не важливо</option>
    <option value="кіт">Кішка</option>
    <option value="собака">Собака</option>
  </select>

  <label>Стать:</label>
  <select name="gender">
    <option value="any">Не важливо</option>
    <option value="female">Ж</option>
    <option value="male">М</option>
  </select>

  <label>Вік:</label>
  від
  <input type="number" name="min_age" value="0" min="0" style="width: 50px" />
  до
  <input type="number" name="max_age" value="25" max="25" style="width: 50px" />

  <label>Розмір:</label>
  <select name="size">
    <option value="any">Не важливо</option>
    <option value="small">Маленький</option>
    <option value="medium">Середній</option>
    <option value="large">Великий</option>
  </select>

  <label>Статус:</label>
  <select name="status">
    <option value="any">Усі</option>
    <option value="в притулку">в притулку</option>
    <option value="усиновлено">усиновлено</option>
  </select>

  <button type="submit">Застосувати фільтри</button>
  <a href="{{ url_for('animals.search_animals') }}">Очистити фільтри</a>
</form>

<hr />

<div class="card-container">
  {% for animal in animals %}
  <div class="card">
    <a href="{{ url_for('animals.animal_detail', animal_id=animal.id) }}">
      <img src="{{ animal.photo_url }}" alt="{{ animal.name }}" />
      <h4>{{ animal.name }}</h4>
    </a>

    {% if current_user.is_authenticated %}
    <form
      method="post"
      action="{{ url_for('animals.toggle_favorite', animal_id=animal.id) }}"
    >
      <button type="submit" class="heart-btn">
        {% if animal.id in user_fav_ids %} ❤️ {% else %} 🤍 {% endif %}
      </button>
    </form>
    {% endif %} {% if current_user.is_authenticated and current_user.role ==
    'admin' %}
    <a href="{{ url_for('animals.edit_animal', animal_id=animal.id) }}"
      >✏️ Редагувати</a
    >
    |
    <form
      method="post"
      action="{{ url_for('animals.delete_animal', animal_id=animal.id) }}"
      style="display: inline"
    >
      <button type="submit" onclick="return confirm('Точно видалити?')">
        🗑️
      </button>
    </form>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
